$color-black: #000;

$color-primary: #5221e6;
$color-primary-dark: #181823;

$color-text: #fff;

$color-light-grey: #deecf9;
$color-dark-grey: #c7e0f4;

$color-green: #3cc74e;
$color-pink: #e95d90;

$color-peach: #fff3e4;
$color-violet: #fbe4ff;

$transparent: #00000000;
