$color-black: #000;

$color-primary: #5221e6;
$color-primary-dark: #181823;

$color-text: #fff;

$color-light-grey: #8491a0;
$color-dark-grey: #5B6876;

$color-blue: #609BFF;
$color-green: #3cc74e;
$color-pink: #e95d90;

$color-peach: #fff3e4;
$color-violet: #fbe4ff;

$transparent: #00000000;
