.button {
	border: 2px $color-primary solid;
	padding: 2rem 3rem;

	&--spaced {
		width: 100%;
	}

	&--large {
		width: 47.5%;

		@include respond (tab-port) {
			width: 20%;
		}
	}

	&--primary {
		background-color: $color-primary;
	}
}
