.header {
	width: 100%;
	min-height: 65rem;
	height: 90vh;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 45vh);

	@include respond(tab-port) {
		grid-template-rows: 90vh;
	}

	&__image {
		grid-column: 1 / -1;
		grid-row: 1 / 2;

		@include respond(tab-port) {
			grid-column: 1 / 7;
			max-height: 80vh;
		}

		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
	}

	&__message {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		background-color: $color-primary-dark;
		padding: 5vw;

		@include respond(tab-port) {
			grid-column: 6 / -1;
			grid-row: 1 / 2;
			margin: auto;
			margin-right: 5vh;
			background-color: $transparent;
		}
	}
}

/*
.message-heading {
	font-size: 3.2rem;

	@include respond(tab-land) {
		font-size: 5.5rem;
	}
	@include respond(laptop) {
		font-size: 7.6rem;
	}

	@include respond(big-desktop) {
		font-size: 11.7rem;
	}
}
*/
