.project {
	background-color: $color-primary-dark;
	width: 100%;
	height: auto;

	position: relative;
	overflow: hidden;


	&__image {
		overflow: hidden;
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	&__description {
		width: 100%;
		padding: 3rem;
		margin-bottom: 2rem;
	}

	&__link {
		width: 3.5rem;
		height: 3.5rem;
		font-size: 2rem;
		text-align: center;
		background-color: $color-primary;

		position: absolute;
		top: 100%;
		left: 100%;
		animation-name: bottomrightTotopleft;
		transition: all .5s;
	}

	&:hover {
		.project__link {
			transform: translate(-100%, -100%);
		}
	}
}
