.socials {
	width: 100%;

	& > :not(:last-child) {
		margin-bottom: 3rem;
	}

	@include respond (tab-land) {
		width: 50%;
	}

	&__logo {
		& img {
			width: 25%;
			max-width: 20rem;
		}
	}

	&__icons {
		& > :not(:last-child) {
			margin-right: 2rem;
		}
	}
}
