.philosophy {
	width: 100%;
	height: 90vh;
	max-height: 150rem;
	background-color: $color-peach;

	@include respond(tab-port) {
		flex-direction: row;
		height: 60vh;
		max-height: 66.7rem;
	}

	&--instagram {
		background-color: $color-violet;
	}

	&__message {
		padding: 5vh 5vw;
		height: 50%;
		width: 100%;

		@include respond(tab-port) {
			padding: 0 5vw;
			width: 50%;
			height: 80%;
		}

		&--instagram {
			@include respond(tab-port) {
				width: 60%;
			}
		}
	}

	&__image {
		overflow: hidden;
		height: 50%;
		width: 100%;

		@include respond(tab-port) {
			width: 50%;
			height: 100%;
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
