.skillset {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: min-content;
	row-gap: 5vh;
	column-gap: 1vw;

	width: 100%;
	min-height: 50rem;
	margin: 10vh 0;
	padding: 0 5vw;

	@include respond (tab-land) {
		grid-template-rows: repeat(2, 1fr);
	}

	&__message {
		padding-right: 2rem;
		grid-column: span 12;

		@include respond (tab-land) {
			grid-row: 1 / -1;
			grid-column: span 4;
		}
	}

	& .skill {
		grid-column: span 12;
		grid-row: span 1;

		@include respond(tab-land) {
			grid-column: span 4;
		}
	}
}
