.work {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: min-content;
	row-gap: 3vh;
	column-gap: 1vw;

	width: 100%;
	min-height: 50rem;
	margin: 10vh 0;
	padding: 0 5vw;

	&__description {
		grid-column: span 12;
		grid-row: 1 / 2;

		@include respond(tab-land) {
			grid-column: span 8;
		}

		@include respond(laptop) {
			grid-column: span 6;
		}
	}

	& .company {
		grid-column: span 12;
		grid-row: span 1;

		@include respond(tab-land) {
			grid-column: span 4;
			grid-row: 2;
		}
	}
}
