.work {
	padding: 10rem;

	&__description {
		@include respond(tab-land) {
			max-width: 75%;
		}

		@include respond(laptop) {
			max-width: 50%;
		}
	}

	&__companies {
		@include respond(tab-land) {
			flex-direction: row;

			& > :not(:last-child) {
				margin-right: 5vw;
			}
		}
	}
}
